#clase {
    text-align: center;
}

.col-12 {
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}

#container {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}